@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&family=Playfair+Display:wght@400;600&display=swap');

body {
    margin: 0px;
    font-size: 14px;
    font-family: 'Baloo 2', 'Quicksand', 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 1050;
    background-color: #fff; 
}

.navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body.fixed-nav-padding {
    padding-top: 70px; 
}

.logo {
    text-align: center;
    background-color: #333;   
}

.logo img {
    width: 250px;
    padding-top: 10px;
}

.navbar-toggler {
    background-color: white; 
    padding: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width: 24px; 
    height: 24px;
}
   
#navbarNavDropdown {
    flex-direction: column;
}

.nav-link {
    line-height: 2.5;
    font-size: 16px;
}

.sns-icon {
    width: 40px;
    margin: 0 5px;
}

.swf {
    height: 458px;
    margin: auto;
    position: relative;
    z-index: 1;   
}

.swf video {
    object-fit: cover;
    height: 458px;
}

.swfshop {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    padding: 20px 15px;
    background-color: #333;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    color: #fff;
    text-align: center;
}

@media (max-width: 767px){

    .navbar {
        background-color: transparent;
        position: fixed;
        top: 15px;
        right: 0; 
        width: 100%; 
        padding-right: 18px; 
    }
    
    .navbar-toggler {
        position: absolute;
        right: 18px;
        top: 5px; 
    }

    #navbarNavDropdown {
        background-color: #fff;
        padding-left: 50px;
        padding-bottom: 20px;
    }

    .swf {
        height: 100%;
    }

    .swf video {
        height: 500px;
    }

    .swfshop {
        position: static;
        width: 100%;
        padding: 10px 15px;
        border-top-left-radius: 0;
        margin: 0 auto;
    }
}

.swfText {
    font-size: 20px;
}

.more, .top002Go {
    display: block;
    color: #a7384b;
    text-align: end;
}

.top001 {
    margin-top: 3rem;
}

.top001 img {
    width: 437px;
    height: 377px;
}

@media (max-width: 767px){
    .top001 {
        margin-top: 0px;
    }
    .top001 img {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}

.common, .top004 {
    position: relative;
    padding: 10px 0 30px;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.section-title {
    color: #f7f7f7;
    font-size: 50px;
}

.top002 img {
    height: 267px;
}

.card-effect {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 25px;
}

.ranking {
    display: block;
    color: #F0E6FA;
    margin: 0 0 5px 10px;
}

.key {
    margin-top: 25px;
}

#carousel-ranking .carousel-control-next {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    top: auto;
}

#carousel-ranking .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

@media (max-width: 767px){
    #carousel-ranking .carousel-control-next {
        width: 40px;
        height: 40px;
    }

    #carousel-ranking .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
}

.fortune-telling a {
    display: block;
    background-color: #2D1E6B; 
    color: #fff;
    padding: 15px 0px; 
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.fortune-telling a:hover {
    background-color: #4B0082;
}

.top004Go {
    width: 90%;
    border: solid 1px #333;
    text-align: center;
    margin: auto;
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
}

footer {
    background-color: white;
}

.footerSns {
    text-align: end;
    font-size: 40px;
}