body {
    margin: 0px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1050;
    background-color: #fff; 
}

#navbarNavDropdown {
    flex-direction: column;
}

.sns-link span {
    margin-right: 5px; 
    vertical-align: middle;  
}

.sns-icon {
    width: 30px;
    margin-right: 10px;
}

.swf {
    height: 458px;
    margin: auto;
    position: relative;
    z-index: 1;   
}

.pc{
    position: relative;
    width: 100%;
    height: 458px;
}

.swf video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.swfshop {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    padding: 20px 15px;
    background-color: #333;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    color: #fff;
    text-align: center;
}

@media (max-width: 767px){
    .navbar {
        background-color: transparent;
    }

    #navbarNavDropdown {
        background-color: rgba(255, 255, 255, 0.5);
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .swf {
        height: 100%;
    }

    .swf video {
        height: 500px;
    }

    .swfshop {
        position: static; 
        width: 90%;
        border-top-left-radius: 0;
        margin: 0 auto;
    }
}

.swfText {
    font-size: 20px;
}

.more, .top002Go {
    display: block;
    color: #a7384b;
    text-align: end;
}

.top001 img {
    width: 437px;
    height: 377px;
}

@media (max-width: 767px){
    .top001 img {
        display: block;
        width: 100%;
        height: 250px;
        margin: 10px 0;
    }
}

.top002 {
    background-color: #faf0e6;
    padding: 50px 0px;
}

.section-title {
    font-size: 50px;
}

.card-effect {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 25px;
}

.fortune-telling a {
    display: block;
    background-color: #2D1E6B; 
    color: #fff;
    padding: 15px 0px; 
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.fortune-telling a:hover {
    background-color: #4B0082;
}

.top003Go {
    width: 300px;
    border: solid 1px #333;
    text-align: center;
    margin: auto;
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
}

footer {
    background-color: #f7f7f7;
    padding-top: 30px;
}

.footerSns {
    text-align: end;
    font-size: 40px;
}

.footerBtm {
    background-color: #a7a7a7;
    padding: 15px 0px;
}

.copy {
    color: #fff;
    font-size: 12px;
    text-align: end;
    margin-right: 20px;
}